
:root {
    --color-colors-base-white: #ffffff; 
    --color-colors-base-black: #000000; 
    --color-colors-teal-100: #e0fffb; 
    --color-colors-teal-200: #bffff7; 
    --color-colors-teal-300: #80fff0; 
    --color-colors-teal-400: #00ffe0; 
    --color-colors-teal-500: #00c7af; 
    --color-colors-teal-600: #009986; 
    --color-colors-teal-700: #007163; 
    --color-colors-teal-800: #00332d; 
    --color-colors-teal-900: #000000; 
    --color-colors-gray-900: #151515; 
    --color-colors-gray-800: #303030; 
    --color-colors-gray-700: #4a4a4a; 
    --color-colors-gray-600: #8a8a8a; 
    --color-colors-gray-500: #b5b5b5; 
    --color-colors-gray-400: #cccccc; 
    --color-colors-gray-300: #e3e3e3; 
    --color-colors-gray-200: #ebebeb; 
    --color-colors-gray-100: #f1f1f1; 
    --color-colors-magenta-900: #40003d; 
    --color-colors-magenta-800: #80007a; 
    --color-colors-magenta-700: #ff00f5; 
    --color-colors-magenta-600: #ff33f7; 
    --color-colors-magenta-500: #ff66f9; 
    --color-colors-magenta-400: #ff99fb; 
    --color-colors-magenta-300: #ffccfd; 
    --color-colors-magenta-200: #ffdbfe; 
    --color-colors-magenta-100: #ffedfe; 
    --color-colors-purple-900: #300066; 
    --color-colors-purple-800: #490099; 
    --color-colors-purple-700: #7900ff; 
    --color-colors-purple-600: #9433ff; 
    --color-colors-purple-500: #af66ff; 
    --color-colors-purple-400: #c999ff; 
    --color-colors-purple-300: #dabaff; 
    --color-colors-purple-200: #e4ccff; 
    --color-colors-purple-100: #f4ebff; 
    --color-colors-green-100: #edffed; 
    --color-colors-green-200: #e0ffdb; 
    --color-colors-green-300: #cdffcc; 
    --color-colors-green-400: #99ff9d; 
    --color-colors-green-500: #66ff88; 
    --color-colors-green-600: #27eb46; 
    --color-colors-green-700: #28c600; 
    --color-colors-green-800: #008005; 
    --color-colors-green-900: #114000; 
    --color-colors-red-100: #fee2e2; 
    --color-colors-red-200: #fecaca; 
    --color-colors-red-300: #fca5a5; 
    --color-colors-red-400: #f87171; 
    --color-colors-red-500: #ef4444; 
    --color-colors-red-600: #dc2626; 
    --color-colors-red-700: #b91c1c; 
    --color-colors-red-800: #991b1b; 
    --color-colors-red-900: #7f1d1d; 
    --color-colors-yellow-100: #fef9c3; 
    --color-colors-yellow-200: #fef08a; 
    --color-colors-yellow-300: #fde047; 
    --color-colors-yellow-400: #facc15; 
    --color-colors-yellow-500: #eab308; 
    --color-colors-yellow-600: #ca8a04; 
    --color-colors-yellow-700: #a16207; 
    --color-colors-yellow-800: #854d0e; 
    --color-colors-yellow-900: #713f12; 
    --color-text-color-default: #151515; 
    --color-text-color-link: #ff00f5; 
    --color-text-color-link-hover: #80007a; 
    --color-text-color-info: #7900ff; 
    --color-text-color-info-hover: #490099; 
    --color-text-color-success: #28c600; 
    --color-text-color-success-hover: #008005; 
    --color-text-color-warning: #eab308; 
    --color-text-color-warning-hover: #ca8a04; 
    --color-text-color-critical: #b91c1c; 
    --color-text-color-critical-hover: #991b1b; 
    --color-icon-color-default: #151515; 
    --color-icon-color-info: #7900ff; 
    --color-icon-color-info-hover: #490099; 
    --color-icon-color-success: #28c600; 
    --color-icon-color-success-hover: #008005; 
    --color-icon-color-warning: #eab308; 
    --color-icon-color-warning-hover: #ca8a04; 
    --color-icon-color-critical: #b91c1c; 
    --color-icon-color-critical-hover: #991b1b; 
    --color-border-color-default: #151515; 
    --color-border-color-info: #7900ff; 
    --color-border-color-info-hover: #490099; 
    --color-border-color-success: #28c600; 
    --color-border-color-success-hover: #008005; 
    --color-border-color-warning: #eab308; 
    --color-border-color-warning-hover: #ca8a04; 
    --color-border-color-critical: #b91c1c; 
    --color-border-color-critical-hover: #991b1b; 
    --color-bg-color-default: #ffffff; 
    --color-bg-color-inverse: #151515; 
    --color-bg-color-accent-primary: #00ffe0; 
    --color-bg-color-accent-secondary: #ff00f5; 
}